snacks{
margin:20px 0px 20px 100px;
box-seizing: border-box;
}

item{
display:block; 
background-color:#800080; 
width: 20%; 
padding: 10pt;
}

item:first-child{
border-top-left-radius: 10pt;
border-top-right-radius: 10pt;
}

item:last-child{
border-bottom-left-radius: 10pt;
border-bottom-right-radius: 10pt;
}

name{
font-weight: bolder;
}

name, quantity{
color:#ffffff; 
display: inline-block; 
}
