university {
	margin-left: 100pt;
	background-color: lightgrey;
}
name,
mat {
	color: #0050ff;
	font-style: italic;
	font-weight: bold;
	font-seize: 20pt;
	background-color: lightblue;
	margin-bottom: 20pt;
}
/*dept{display: block; color: green; font-style: italic;}*/
mail {
	display: block;
	color: green;
	font-style: italic;
	margin-bottom: 10pt;
}
